.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.icon_wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.cart_icon:hover svg path{
  fill: #FFA542;
}