.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1110px;
    min-height: 100%;
  }

.outlet {
    margin: 28px 0px 0px 0px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    width: 100%;
    min-height: calc(100vh - 230px);
}
