.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.icon_wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
   justify-content: center;
}

.heart_icon {
  background-image: url("../icons/like.svg");
  display: flex;
  width: 23px;
  height: 20px; 
}

.cart_icon {
  background-image: url("../icons/cart.svg");
  width: 24px;
  height: 25px; 
}