.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 100%;
  }

.outlet {
    margin: 0;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    width: 100%;
    min-height: calc(100vh - 202px);
}
